/* sets the body background to a somewhat dark gray */
body
{
    background-color: #333333;
}

/* sets the navbar background to a dark gray */
.darknav
{
    background: #202020;
}

/* holds the chatbox */
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sets the text to the color white */
.whitetext
{
    color: white;
}

/* sets the top margin to 75px */
.margintop
{
    margin-top: 75px;
}

/* wraps text */
.wrap-text
{
    word-break: break-word;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
    
    background: 333333;
}

/* makes the element be positioned at the left */
.left
{
    float: left;
}

/* adds padding to the top of an element (and a bit below) */
.paddingtop
{
    padding-top: 50px;
    padding-bottom: 48px;
}

/* center align */
.middle
{
    text-align: center;
}

/* adds padding to the bottom of an element */
.paddingbottom
{
    padding-bottom: 25px;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
